<div class="container">
    <div class="row">
        <div class="col-md-2" ng-repeat="level in levels" ng-show="level.names.length > 0">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle filterbox" type="button" data-toggle="dropdown">
                    {{level.selected}}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu filterbox-menu">
                    <li ng-repeat="name in level.names">
                        <a ng-click="level_selected(level.level, name)">{{name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Selected Path: {{path}}</h3>
        </div>

    </div>
</div>